@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-color: #36454F;
  color: white;
  padding: 1em;
}
h1 {
  margin: 0;
  font-family: "Almendra", serif;
}
